# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


data/instances/*.json
data/instances/*.yaml
data/results/

# Logs
*.log
logs/
texput.log

# Rapport LaTeX
rapport/*.pdf
rapport/*.aux
rapport/*.log
rapport/*.out
rapport/*.toc
rapport/*.bbl
rapport/*.blg
rapport/*.fls
rapport/*.fdb_latexmk
rapport/*.synctex.gz
rapport/logo_laval.png
rapport/logo_laval.txt

# MiniZinc
*.ozn
*.fzn

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Build
build/
dist/
*.egg-info/
